@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@keyframes gradient-x {
  0%, 100% { background-position: left center; }
  50% { background-position: right center; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
}
